/*Contenido de tabla de contadores*/
.contenido_contadores{
    width: 90%;
    min-height: 80px;
    background: rgba(192, 192, 192, 0.6);
    padding: 30px;
    margin: 3rem auto;
    border-radius: 15px;
  }  
.contenido_contadores h2{
    text-align: center;
    font-size: 2.5rem;
  }

/*Contenido de tabla*/
.contenido_tabla{
    width: 90%;
    min-height: 300px;
    background: rgba(192, 192, 192, 0.6);
    padding: 10px;
    margin: 2rem auto;
    border-radius: 15px;
  }  
.contenido_tabla h2{
    text-align: center;
    font-size: 2.5rem;
  }
  .contenido_tabla .titulo{
    text-decoration: none;
    color: #000;
  }
  .tabla{
    background: rgb(192,192,192);
    border-radius: 15px;
    min-height: 550px;
    overflow-y: scroll;
    margin-top: 15px;
    margin: 15px;
    padding-bottom: 10px;
  }
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;    
  }
  table th{
    position: sticky; 
    top: 0px;
    background: rgba(24, 24, 24, 0.6);
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    outline: 0.7px solid rgb(165, 165, 165);
    border: 1.5px solid rgb(201, 201, 201);
  } 
  table th, table td {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  table td {
    background-color: #fff;
    color: rgb(0,0,0);
    text-align: center;
    font-size: 15px;
    border: 1px solid rgba(24, 24, 24, 0.6);
    padding-left: 20px;
    font-weight: 600;
  }

/*boton de editar y eliminar de tabla*/
.btn_editar,
.btn_eliminar{
  padding: 3px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: .5s;
}
.btn_editar{
  background-color: rgb(28, 88, 0);
}
.btn_eliminar{
  background-color: rgb(92, 0, 0);
  padding: 4px;
}
.btn_editar:hover, 
.btn_eliminar:hover{
  background-color: #fff;
  color: #000;
  transition: .5s;
}
/*Fin de botones*/

/*Estilos de las ventanas modales */
.formulario{
  max-width: 1200px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.formulario_botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
}
.formulario_botones .boton{
  padding: 20px;
  margin: 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  transition: .5s;
}
.formulario_botones .boton:hover{
  background: #fff;
  color: #000;
  border: 1px solid #868686;
  transform: translateY(-15px);
}
.formulario_botones .pasadas{
  background: rgb(92, 0, 0);
}
.formulario_botones .futuras{
  background: #002f55;
}
.formulario form .contenido_inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .contenido_inputs .inputs{
  margin: 10px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.contenido_inputs input,
.contenido_inputs select{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: 1px solid rgb(200,200,200);
  padding-left: 15px;
  font-size: 15px;
  border-bottom-width: 4px;
  transition: all 0.3s ease;
}
.contenido_inputs input:focus,
.contenido_inputs input:valid,
.contenido_inputs select:focus,
.contenido_inputs select:valid{
  border-color: #4d4d4d;
}
.contenido_inputs .inputs label{
  font-weight: 800;
  margin-bottom: 5px;
  font-family: 'static';
}
.input:hover{
   box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
   transform: scale(1.05);
   transition: .5s;
 }
.btn_agregar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}
.btn_agregar .add_user{
  background: #3d3d3d;
  color: #fff;
  padding: 12px 100px;
  border-radius: 10px;
  border: none;
  transition: .6s;
}
.add_user:hover{
  border: 1px solid rgb(200,200,200);
  background: rgb(240, 240, 240);
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
  transform: translateY(-10px);
  transition: .6s;
  color:#000;
}
/*Fin de estilos de ventanas modales*/